[submodule "WinScanExternalBarcodeClientUI"]
	path = WinScanExternalBarcodeClientUI
	url = https://github.com/gclaassen/WinScanExternalBarcodeClientUI.git
[submodule "WinScanExternalBarcodeServer"]
	path = WinScanExternalBarcodeServer
	url = https://github.com/gclaassen/WinScanExternalBarcodeServer.git
